{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
          <li><a href="{% url 'main:main' %}">Головна</a></li>
          <li><a href="{% url 'projects:projects' %}">Проекти</a></li>
          <li class="active">{{ object.title }}</li>
        </ol>
        <div class="news">
            <h3>{{ object.title }}</h3>
            <small><strong>{{ object.date_created }}</strong></small>
            <article class="news_content">
                {{ object.content|safe }}
            </article>
        </div>
    </div>
{% endblock content %}