{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
          <h2>Академія технічних наук України (АТНУ)</h2>
            <article>Наукова громадська організація, що об'єднує вчених-теоретиків та практиків у галузі технічних наук.<br/>
                    Заснована 30 листопада 2016 р. в Івано-Франківську.<br/>
                    Академія технічних наук України є громадським науковим, методичним і координаційним центром України
                    у сфері технічних наук.<br/>
                    Мета діяльності – цілеспрямований розвиток технічних наук, захист фахових інтересів,
                    координація науково-дослідної роботи, обмін досвідом.
            </article>

        </div>
    </div>
    <div class="container news">
        {% for n in news %}
            <h4>{{ n.title }}</h4>
            <h6>{{ n.date_created }}</h6>
            <p>{{ n.annotation|safe }}</p>
        {% endfor %}
    </div>
{% endblock content %}