{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
    <ol class="breadcrumb">
          <li><a href="{% url 'main:main' %}">Головна</a></li>
          <li><a href="{% url 'conference:conference_list' %}">Конференції</a></li>
          <li class="active">{{ conference.title }}</li>
    </ol>
        {{ conference.title }}

        <p>Доповіді</p>
        {% for t in thesises %}
            <p>{{ t.title }}</p>
            <p>{{ t.section }}</p>
            <a href="{{ t.thesis.url }}">Завантажити</a>
            <p>Автори</p>
            {% for author in t.author_set.all %}
            <p>{{ author.participant.participant_profile.lastname }} {{ author.participant.participant_profile.firstname }}</p>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock content %}