{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/conf.css' %}">
{% endblock extra_css %}
{% block title %} - Конференції{% endblock title %}
{% block content %}
    <div class="container">
        {% for conference in conferences %}
            <div class="col-xs-12">
                <div class="conference_short">
                    <h4 id="conf-title">{{ conference.title }}{% if conference.title_eng %} / {{ conference.title_eng}}{% endif %}</h4>
                    <p>{{ conference.level|upper }} КОНФЕРЕНЦІЯ</p>
                    <p><strong>Місце проведення:</strong> {{ conference.place }}</p>
                    <p><strong>Дата проведення:</strong> {{ conference.date_start }} - {{ conference.date_end }}</p>
                    <p><a href="{{ conference.get_absolute_url }}">Детальніше...</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
{% block pagination %}
    {% if is_paginated %}
        {% with object_list=conferences %}
        <div class="paginator">
            {% include "pagination.html" %}
        </div>
        {% endwith %}
    {% endif %}
{% endblock pagination %}