{% extends 'base.html' %}

{% load static %}
{% load modify_query %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/conf.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'main:main' %}">Головна</a></li>
            <li><a href="{% url 'conference:conference_list' %}">Конференції</a></li>
            <li>
                <a href="{% url "conference:conference_detail" conference.id conference.slug %}">
                    {{ conference.title }} : {{ conference.date_start|date:"d b Y"}}
                </a>
            </li>
            <li class="active">
                {% if q %}
                    <a href="{% url "conference:thesis_list" conference.id conference.slug %}">Тези</a>
                {% elif not q %}
                    Тези
                {% endif %}
            </li>
            {% if q %}<li class="active">Результати пошуку</li>{% endif %}
        </ol>
            <div class="conference_detail">
               <div class="conference_detail">
                    <h4 id="conf-title">{{ conference.title }}{% if conference.title_eng %} / {{ conference.title_eng }}{% endif %}</h4>
                    <h5 style="text-align: center">{{ conference.level|upper }} КОНФЕРЕНЦІЯ</h5>
                        <h5 style="text-align: center">Доповіді</h5>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <form class="form-inline search" action="{% url "conference:thesis_list" conference.id conference.slug %}" method="get">
                                    {{ search_form.q }}
                                    <input type="submit" class="btn btn-primary search-btn" value="Пошук">
                                </form>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <form class="form-inline">
                                    {{ form.as_p }}
                                </form>
				            </div>
       	                </div>
                        <div class="row">
                            {% if q %}
                                <p>За Вашим запитом <strong>"{{ q }}"</strong> знайдено <strong>{{ theses|length }}</strong> {{ thesis_message }}</p>
                            {% endif %}
                        </div>

                        <table class="table table-striped table-hover">
                               <tbody>
                               {% for thesis in theses %}
                                    <tr>
                                       <td>
                                           <a href="{{ thesis.thesis.url }}" target="_blank"> <strong>{{ thesis.title }}</strong></a>
                                           <p><small>{{ thesis.section }}</small></p>
                                           <p>{{ thesis.get_authors }}</p>
                                       </td>
                                    </tr>
                                {% endfor %}
                               </tbody>
                        </table>
                </div>
            </div>
    </div>
{% endblock content %}
{% block pagination %}
    {% if is_paginated %}
        {% with object_list=theses %}
        <div class="paginator">
            {% include "pagination.html" %}
        </div>
        {% endwith %}
    {% endif %}
{% endblock pagination %}



