{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
    {% for n in news %}

        <h4>{{ n.date_created }} - {{ n.title }}</h4>
        {{ n.annotation|safe }}
        <p><a href="{{ n.get_absolute_url }}">Читати далі...</a></p>
    {% empty %}
        <p>Новин немає.</p>
    {% endfor %}
    </div>
{% endblock content %}
{% block pagination %}
    {% if is_paginated %}
        {% with object_list=news %}
        <div class="paginator">
            {% include "pagination.html" %}
        </div>
        {% endwith %}
    {% endif %}
{% endblock pagination %}