{% extends 'base.html' %}

{% load static %}

{% load modify_query %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/robosprint.css' %}">
{% endblock extra_css %}

{% block jumbo %}
    <div class="jumbotron">
        <div class="container">
          <h2>RoboSprint</h2>
            <article>{{ info|safe }}</article>
        </div>
    </div>
{% endblock jumbo %}

{% block content %}
    <div class="container">
        <ul id="links">
            <li><a href="{% url 'robosprint:project-about' %}">Про проект</a></li>
		    <li><a href="{% url 'robosprint:project-platform' %}">Опис платформи</a></li>
            <li><a href="{% url 'robosprint:project-model' %}">Вимоги до моделі</a></li>
            <li><a href="{% url 'robosprint:project-route' %}">Вимоги до траси</a></li>
        </ul>
        <div id="ajax_block"></div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/robosprint.js' %}"></script>
{% endblock %}
